.navbar {
  background: #ffc300;
  height: 120px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font: 400 2.2rem "Galdeano", sans-serif;
}

.navItems {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  gap: 3.5rem;
  flex-wrap: nowrap;
  padding: 0px 20px;
}

.navBarItem {
  align-self: center;
}

.logoTenedor {
  padding: 0px 20px;
  width: 70px;
  height: 70px;
}

a,
a:hover,
a::after,
a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

.navToggle {
  display: none;
}

@media (max-width: 950px) {
  .navbar {
    font: 400 2rem "Galdeano", sans-serif;
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    height: 120px;
    overflow: hidden;
  }

  .navItems {
    position: absolute;
    background: #ff8000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0px;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .navItems.open {
    transform: translateX(0) !important;
    height: 120px;
  }

  /** Manejo botón cierre */

  .navToggle {
    display: flex !important;
    flex-direction: column;
    margin: 15px;
    align-self: center;
    padding: 5px;
  }

  .navToggle.open {
    padding: 10px;
    z-index: 9999;
  }

  .navToggle span {
    width: 30px;
    height: 4px;
    background: rgb(0, 0, 0);
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .navToggle.open>span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .navToggle.open>span:nth-child(2) {
    display: none;
  }

  .navToggle.open>span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}

@media (max-width: 450px) {
  .navToggle {
    margin: 0px;
  }

  .navToggle.open {
    margin-top: 5px;
    margin-right: 0px;
    align-self: flex-start;
  }
}