.spinner {
    justify-content: center;
    background-color: #f9dc5ccc;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 50px 0px;
    height: 100vh;
}

.spinning {
    animation: spin 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}