.containerDetail {
    margin: 0;
    background-color: #f9dc5ccc;
}

.containerRecipe {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    padding-left: 100px;
    font-family: "Inter", sans-serif;
    color: #443f2b;
    overflow-wrap: break-word;
    hyphens: auto;
}

.imagenDetalle {
    display: flex;
    flex-direction: row;
}

.imagenRecipe>img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.detailText {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailTitles {
    font: 600 30px "Inter", sans-serif;
    padding-bottom: 20px;
}

.detailSubtitle {
    font: 400 20px "Inter", sans-serif;
}

.line {
    border-bottom: 1px solid #443f2b;
    width: 50%;
    margin: 40px 0px;
}

.detailInstructions {
    width: 65%;
}

@media (max-width: 950px) {
    .imagenDetalle {
        display: flex;
        flex-direction: column;
    }

    .line {
        width: 70%;
    }

    .detailText {
        padding: 10px 0px;
    }

    .detailInstructions {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .containerRecipe {
        padding: 30px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagenRecipe>img {
        width: 100%;
    }

    .detailText {
        text-align: center;
    }

    .detailInstructions {
        width: 80%;
    }

    .line {
        width: 80%;
    }

}

@media (max-width: 450px) {
    .detailInstructions {
        width: 100%;
    }
}